<section class="lgncnt">
  <%= form_for @user, url: "/sessions", method: "post" do |f| %>
    <div class="login">
      <div><i></i>
        <span>Member Login</span>
        <p>Feel free to use the sample user to play with our app's functionality and CRUD abilities <b>please</b> use discretion. The database is active for everyone to see.</p>
      </div>

      <div>
        <%= f.text_field :email, value: "sample@user.com", class:"form-control" %>
        <%= f.password_field :password, value: "a", class:"form-control" %>
      </div>

      <div>
        <input type="checkbox" id="remberme"/>
        <label for="remberme">Remember me</label>
        <a>forgot password ?</a>
      </div>

      <div>
        <%= f.submit "Sign In", class:"btn btn-success" %>
      </div>

      <div>
        <p>vagabond.herokuapp.com</p>
      </div>
    </div>
  <% end %>
</section>
